.dashboard{
    padding: 4%;
}
.balanceAndAge{
    background-color: white;
    width: 90%;
    border-radius: 10px;
    height: 110px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chartAge{
    width:70% !important;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(177, 177, 177, 0.44);
    padding: 5px;
    margin-bottom: 20px;
}
.balanceAndAgeValue{
    font-size: 18px;
    font-weight: bold;
}